.references {
  margin-top: 1.5rem;
}

.references .ref-title {
  font-style: italic;
}

.references .cite-error {
  font-weight: bold;
}

.references li:target {
  background: #0002;

}

.references li {
  padding: 0.1rem 0.25rem;
}

.references li + li {
  margin-top: -0.05rem;
}

.references ol {
  list-style: decimal inside;
  margin-left: 1rem;
}
